* {
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    /*background-color: #f1f1f1;*/
    border-bottom: 3px solid black;
    font-size: 20px;
}

pre {
    display: inline-block;
    border: solid gray;
    padding: 10px;
    word-break: break-all;
}

header > ul {
    /*background-color: bisque;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

a {
    text-decoration-line: none;
}

a:visited {
    color: darkgoldenrod;
}

a:hover {
    color: orangered;
}

.button {
    display: block;
    text-align: center;
    border: none;
    padding: 5px;
    background-color: transparent;
    margin-right: 3px;
}

.button-left {
    float: left;
    color: black;
}

.button-right {
    color: #04AA6D;
}

aside {
    /*background-color: #04AA6D;*/
    display: block;
}

.side {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: sticky;
    display: inline-block;
    max-width: 230px;
}

.column{
    background-color: lightskyblue;
    padding-left: 20px;
    float: left;
    display: inline-block;
    width: 80%;
    min-width: 80%;
    height: 100%;
    flex-direction: column;
    overflow: auto;
}

.row {
    background-color: orangered;
    margin: auto;
    height: 85vh;
    display: flex;
    word-break: break-word;
}

.row::after {
    content:"";
    display: table;
    clear: both;
}